html,body{
	height: 95vh;
	width: 100%;
}
body {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	--select-color: #e7e2ff;
}
.timeslider{
	width: 100%;
	
}
.view{
	display: grid;
	flex: 70% 1 1;
}
.info > .chatViewPort{
	overflow: auto;
	position: relative;
	flex: auto 2 100;
}
.info {
	height: 100%;
	flex: 20em 1 0;
	max-width: 20em;
	overflow-y: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to right,var(--select-color),transparent 0.3em);
	padding-left: 0.2em;
}
.timeline {
	flex: auto 4 1;
	display: grid;
	position: relative;
	grid-template-rows: auto 3em;
	cursor: pointer;
	min-height: 3em;
}
.timeline{
	height: 100%;
	padding-right: 0.5em;
}
.timelineUsefull{
	background-color: #faf6fc;
	position: relative;
}
.expsView{
	display: flex;
	flex-direction: row;
}
.expLabel {
	max-width: 20em;
	flex: auto 1 2;
}
.eventMarker{
	position: absolute;
	width: 0.2em;
	height: 100%;
}
.info > * {
	flex: auto 0 0;
	min-height: 0px;
}
.chatLines > span:first-child{
	font-weight: bold;
}
.expsView.selected {
	background-color: var(--select-color);
}
.series{
	flex: auto 4 1;
	position: relative;
	display: flex;
	flex-direction: column;
}
.filters{
	width: 100%;
	background-color: #2d2d2d6e;
}
.filterSpan{
	padding-right: 0.2em;
}
.filterSpan + .filterSpan{
	border-left: 0.1em solid black;
	padding-left: 0.2em;
}
.agentLine :not(:first-child) {
	font-family: Arial;
	font-size: 0.9em;
	font-style: italic;
}
#toogleAgent +label{
	color: white;
}
.minimap{
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	box-shadow: 0.2em 0.2em 0.5em #0003;
	z-index: 1;
	background-image: url("terrain.png");
	background-size: cover;
}
#mapSwitch:checked ~ .minimap{
	background-image: none;
} 
.minimapCotainer {
  position: relative;
  flex: 10em 2 2;
}

.playerMarker line{
	stroke: var(--color);
	stroke-width: 0.5px;
}
.playerMarker circle,polygon{
	fill: var(--color);
}
.playerMarker:last-child{
	filter: url("#shadow");
}
.minimapCotainer > * {
	background-color: white;
}
text{
	font-size: 4px;
}
.timeControl{
	position: absolute;
	top:3px;
	left: 50%;
	z-index: 10;
	background-color: #ffffffc2;
	padding: 0.2em;
	border: 0.2em solid white;
	transform: translate(-50%);
	pointer-events: none;
}
.timeControl:before{
	content: "Play : ";
}
.timeButton {
	pointer-events: auto;
	cursor: pointer;
}
.timeButton + .timeButton {
	border-left: 2px solid #6b6b6bb8;
	padding-left: 0.1em;
	padding-right: 0.1em;
}
.chatViewPort {
	height: 10em;
	overflow-y: scroll;
	position: relative;
	display: flex;
	flex-direction: row;
}
.chatInsight{
	position: sticky;
	top: 2px;
	
	z-index: 2;
	flex: auto 1 0;
	border-left: 0.2em solid #e6e6d0;
}
.chat{
	position: relative;
  z-index: 1;
	flex: auto 3 1;
}
.turnLabel{
	font-weight: bold;
}
.mapButon {
	position: absolute;
	left: 0.4em;
	cursor: pointer;
	z-index: 2;
	font-size: 1.5em;
	background: none;
}
#mapSwitch{
	display: none;
}
#mapSwitch:checked ~.mapButon {
	filter: saturate(0%);
}
#mapSwitch:checked ~.mapButon:after{
	content: "̷";
	position: absolute;
	left: 50%;
	transform:translate(-50%);
	font-size: 1.8em;
	line-height: 0.5;
	font-weight: bold;
}
canvas{
	position: absolute;
	left: 0px;
	right: 0px;
}